header {
  display: flex;
  flex-direction: column;
}
.search {
  margin-left: 2rem;
}
.cart {
  margin-left: 1rem;
}
.search,
.cart {
  cursor: pointer;
}

input[type="text"].input-search {
  margin-top: 1rem;
  margin-left: 55rem;
  margin-bottom: 0rem;
  width: 33rem;
  padding: 5px 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  display: none;
}
input[type="text"].input-search.show {
  display: block;
}
input[type="text"].input-search.hidden {
  display: none;
}
li.cart{
  position: relative;
  margin: 0 30px;
}
li.cart a span{
  position: absolute;
  right: -10px;
  top: -24px;
  
}
li.cart a{
  padding: 0;
}
